# Build output
dist/

# Dependencies
node_modules/
node_modules/electron/

# Logs
logs
*.log
npm-debug.log*

# OS specific files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/

# Claude
.claude/